[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
uuid = "*"
faker = "*"
django-seed = "*"
psycopg2 = "*"
datetime = "*"
pytz = "*"
asgiref = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlparse = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
